body{
    background-color: aquamarine;
}


p{
    font-size: 20px;
}


.mainpic{
    width: 400px;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    padding: 30px;
}
header{
    background-color: rgb(241, 248, 250);

}
footer{
    background-color: rgb(57, 187, 148);
}
.project1{
    width: 350px;
    display: inline-block;
}
.project2{
    width: 350px;
    height: 232px;
    display: inline-block;
}
